<!DOCTYPE html>
<?js var that = this; ?>
<html>
<head>ink type="text/css" rel="stylesheet" href="styles/site.<?js= this.navOptions.theme ?>.css">

</head>

<body>

<div class="navbar navbar-default navbar-fixed-top <?js= this.navOptions.inverseNav ? 'navbar-inverse' : '' ?>">
<div class="container">
	<div class="navbar-header">
		<a class="navbar-brand" href="<?js= this.nav.index.link ?>"><?js if(this.navOptions.logoFile) { ?><img class="branding-logo" src="<?js= this.navOptions.logoFile ?>"
		alt="logo"/><?js } ?><?js= this.nav.index.title ?></a>
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#topNavigation">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
        </button>
	</div>
	<div class="navbar-collapse collapse" id="topNavigation">
		<ul class="nav navbar-nav">
			<?js this.nav.topLevelNav.forEach(function(entry){ ?>
			<li class="dropdown">
				<a href="<?js= entry.link ?>" class="dropdown-toggle" data-toggle="dropdown"><?js= entry.title ?><b class="caret"></b></a>
				<ul class="dropdown-menu <?js= that.navOptions.navType ==='inline' ? 'inline' : '' ?>">
					<?js entry.members.forEach(function(member){ ?><li><?js= member ?></li><?js	}); ?>
				</ul>
			</li>
			<?js }); ?>
		</ul>
        <?js if (this.navOptions.search) { ?>
            <div class="col-sm-3">
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="q" id="search-input">
                        <div class="input-group-btn">
                            <button class="btn btn-default" id="search-submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        <?js } ?>
	</div>

</div>
</div>

<?js= content ?>

<footer>
<?js if (that.navOptions.footer.length > 0){ ?>
	<?js= that.navOptions.footer ?>
<?js } ?>
<?js if (that.navOptions.copyright.length > 0){ ?>
	<span class="copyright">
	<?js= that.navOptions.copyright ?>
	</span>
<?js } ?>
<span class="jsdoc-message">
	Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a>
	<?js if (that.navOptions.includeDate) { ?>
		on <?js= (that.moment().format(that.navOptions.dateFormat)) ?>
	<?js } ?>
	using the <a href="https://github.com/docstrap/docstrap">DocStrap template</a>.
</span>
</footer>

</body>
</html>
