<div class="hero-unit">
<ul class="nav nav-pills nav-stacked">
	<?js if (this.nav[docType] && this.nav[docType].length && this.nav[docType].forEach) {?>
	<?js this.nav[docType].forEach(function(nav){ ?>
	<li><?js= nav ?></li>
	<?js}); ?></ul>
<?js } ?>
</ul>
</div>
