<section class="tutorial-section">

<header>
    <?js if (children.length > 0) { ?>
    <ul><?js
        var self = this;
        children.forEach(function(t) { ?>
        <li><?js= self.tutoriallink(t.name) ?></li>
    <?js }); ?></ul>
    <?js } ?>
</header>

<article>
    <?js= content ?>

    <?js if (relatedArticles && relatedArticles.length > 0) { ?> 
    <h2>Related articles</h2>
    <?js } ?>

    <?js 
        var self = this;

        if (relatedArticles) {
            relatedArticles.forEach(function(article) {
    ?>
            <h3><?js= self.tutoriallink(article.name) ?></h3>
    <?js
            });
        }
    ?>
</article>

</section>